<a href="https://colab.research.google.com/github/cmeniru/Aurelia-/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("Hello World")
print(5+7)
print(2-3)
height = 1.68
weight = 58
bmi = weight / height ** 2
print(bmi)
type(bmi)
a = "Hello, World!"
print(a[1])
print(a[7:12])
x = "I love working "
y = "with python"
z = x + y
print(z)
print(len(z))

Hello World
12
-1
20.549886621315196
e
World
I love working with python
26

In [0]:
x = int(input("Enter a number: "))
print(x)
type(x)
print(x ** 2)

Enter a number: 29
29
841

In [0]:
a = "Program"
print(a[2])
print(a[3:7])
str.islower(a)

o
gram

False

In [0]:
type(a)

str

In [0]:
firstname = "Irene"
lastname = "Meniru"
print("Hello", firstname, lastname, "!", "you just delved into python")

Hello Irene Meniru ! you just delved into python

In [0]:
fam = [1.73,1.62,1.89,1.99]
print(fam)
fam2 = [["Val",1.73,"Inno",1.62,"Irene",1.89,"David",1.99]]
print(fam2)
type(fam)
type(fam2)

[1.73, 1.62, 1.89, 1.99]
[['Val', 1.73, 'Inno', 1.62, 'Irene', 1.89, 'David', 1.99]]

list

In [0]:
fam3 = ["Val",1.73,"Inno",1.62,"Irene",1.89,"David",1.99]
print(fam3)
print(fam[-1])
print(fam[0])
print(fam3[-8])
fam3[3:]
fam3[2:6]
fam3[3] = 1.93
print(fam3)
fam3[0:2] = "Valentine", 1.88
print(fam3)

['Val', 1.73, 'Inno', 1.62, 'Irene', 1.89, 'David', 1.99]
1.99
1.73
Val
['Val', 1.73, 'Inno', 1.93, 'Irene', 1.89, 'David', 1.99]
['Valentine', 1.88, 'Inno', 1.93, 'Irene', 1.89, 'David', 1.99]

In [0]:
fam_ext = fam3 + ["Divine",1.56]
print(fam_ext)

['Valentine', 1.88, 'Inno', 1.93, 'Irene', 1.89, 'David', 1.99, 'Divine', 1.56]

In [0]:
del(fam3[7])
print(fam3)

['Valentine', 1.88, 'Inno', 1.93, 'Irene', 1.89, 'David']

In [0]:
del(fam_ext[5])
print(fam_ext)

['Valentine', 1.88, 'Inno', 1.93, 'Irene', 'David', 1.99, 'Divine', 1.56]

In [0]:
x = ["a", "b", "c"]
y = x[:]
y[2] = "d"
print(y)

['a', 'b', 'd']

In [0]:
list1 = [10,20,[300,400,[5000,6000],500],30,40]

In [0]:
print(36/4*(3+2)*4+2)
aTuple = ("orange")
print(type(aTuple))

182.0
<class 'str'>

In [0]:
aTuple = "yellow", 20, "red"
a, b, c = aTuple
print(a)
print(b)

yellow
20

In [0]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [0]:
lst = [3, 4, 6, 1, 2]
lst[1:2] = [7, 8]
print(lst)

[3, 7, 8, 6, 1, 2]

In [0]:
listOne = ["a", "b", "c", "d"]
listTwo = ["e", "f", "g"]
newList = listOne + listTwo
print(newList)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [0]:
listOne = ["a", "b", "c", "d"]
listTwo = ["e", "f", "g"]
listOne.extend(listTwo)
print(listOne)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [0]:
pets = ["cats", "dogs", "rabbits", "hamsters"]
for myPets in pets:
 print(myPets)

cats
dogs
rabbits
hamsters

In [0]:
x = range(1,5)
total = 0
for n in x:
  total = total + n
print(total)

10

In [0]:
c = list(range(2,20))
total2 = 0
for z in range(2,20):
  total2 = total2 + z
print(total2)
print(c)

189
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [0]:
d = list(range (1,100))
total3 = 0
for i in range(1,100):
 if i % 3 == 0:
  total3 += i
print(total3)

1683

In [0]:
w = "family"
for c in "family":
  print(c.capitalize())

F
A
M
I
L
Y

In [0]:
fam_heights = [1.73, 1.62, 1.89, 1.65, 1.99]
for index, height in enumerate(fam_heights):
 print(index, height)

0 1.73
1 1.62
2 1.89
3 1.65
4 1.99

In [0]:
for index, height in enumerate(fam_heights):
 print("index " + str(index) + ": " + str(height))

index 0: 1.73
index 1: 1.62
index 2: 1.89
index 3: 1.65
index 4: 1.99

In [0]:
given_list = [5, 4, 4, 3, 1, -2, -3, -5]
total4 = 0
i = 0
while given_list[i] > 0:
 total4 += given_list[i]
 i += 1
print(total4)

17

In [0]:
given_list = [5, 4, 4, 3, 1]
total4 = 0
i = 0
while i < len(given_list) and given_list[i] > 0:
 total4 += given_list[i]
 i += 1
print(total4)

17

In [0]:
given_list2 = [5, 4, 4, 3, 1, -2, -3, -5]
total5 = 0
for element in given_list2:
  if element <= 0:
   break
  total5 += element
print(total5)

17

In [0]:
given_list2 = [5, 4, 4, 3, 1, -2, -3, -5]
total6 = 0
i = 0
while True:
 total6 += given_list2[i]
 i += 1
 if given_list2[i] <= 0:
  break
print(total6)

17

In [0]:
given_list3 =[7, 5, 4, 4, 3, 1, -2, -3, -5, -7]
total7 = 0
i = -4
while True:
  total7 += given_list3[i]
  i += 1
  if given_list3[i] >= 0: 
   break
print(total7)

-17

In [0]:
given_list3 =[7, 5, 4, 4, 3, 1, -2, -3, -5, -7]
total8 = 0
for element in given_list3:
  if element >= 0:
   break
  total8 += element
print(total8)

0

In [0]:
x = range(2, -5, -1)
for num in range(2, -5, -1):
 print(num, end = ",")

2,1,0,-1,-2,-3,-4,

In [0]:
numbers =  [10, 20]
items = ["Chair", "Table"]
for x in numbers:
  for y in items:
    print(x,y)

10 Chair
10 Table
20 Chair
20 Table

In [0]:
var i = 0;
while (i < 3) 
{
println("hi");
i++;
}

SyntaxError: ignored

In [0]:
x = range(5, 0, -2)
for w in range(5, 0, -2):
 print(w)

5
3
1

In [0]:
x = ["ab", "cd"]
for i in x:
  i.upper()
print(x)

['ab', 'cd']

In [0]:
x = list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
x = 0
while (x < 100):
  x += 2
print(x)

100

In [0]:
x = "abcd"
for i in x:
  print(i.upper())

A
B
C
D

In [0]:
userInput = int(input("Enter 1 or 2: "))
if userInput == 1:
  print("Hello World")
  print("How are you?")
elif userInput == 2:
  print("Python Rocks!")
elif userInput < 1:
  print("My name is Irene Meniru")
  print("I have an awesome personality")
else:
  print("You did not enter a valid number")

Enter 1 or 2: 0
My name is Irene Meniru
I have an awesome personality

In [0]:
r = 121
if r % 3 == 0:
  print("r is a multiple of 3")
else:
  print("r is not a muliple of 3")

r is not a muliple of 3

In [0]:
dict1 = {0:10, 1:20}
dict2 = {2:30}
dict1.update(dict2)
print(dict1)
dict1.update({2:30})
print(dict1)

{0: 10, 1: 20, 2: 30}
{0: 10, 1: 20, 2: 30}

In [0]:
keys = ["Ten", "Twenty", "Thirty"]
values = [10, 20, 30]
myDict = dict(zip(keys, values))
print(myDict)
print("dict: " + str(myDict))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict: {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [0]:
myDict = {}
for key in keys:
  for value in values:
    myDict[key] = value
    values.remove(value)
    break
print("dict: " + str(myDict))

dict: {}

In [0]:
a, b = 12, 5
if a + b:
  print("True")
else:
  print("False")

True

In [0]:
for num in range(10, 14):
  for i in range(2, num):
    if num % i ==1:
      print(num)
      break

10
11
12
13

In [0]:
x = 0
a = 0
b = -5
if (a > 0):
  if (b < 0):
    x = x + 5
  elif (a > 5):
    x = x + 4
  else:
    x = x + 3
else: 
  x = x + 2
print(x)

2

In [0]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
      if var % 2 == 0:
          continue
          var += 1
    var += 1
else:
    var += 1
print(var)

21

In [0]:
d = {"john":40, "peter":45 }
print(list(d.keys()))

['john', 'peter']

In [0]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [0]:
def melon():
  print("I am a blessing to my generation")
melon()

I am a blessing to my generation

In [0]:
def bitcoin_to_usd(btc):
  amount = btc * 127
  print(amount)
bitcoin_to_usd(258)

32766

In [0]:
def dollars_to_naira(dollars):
  amount = dollars * 390
  print(amount)
dollars_to_naira(2000)
melon()

780000
I am a blessing to my generation

In [0]:
def addition(a,b):
  return a + b
answer = addition(5, 6)
print(answer)

11

In [0]:
def sum(numbers):
  total = 0
  for x in numbers:
    total += x
  return total
print(sum((8, 2, 3, 0, 7)))

20

In [0]:
def printMax(a, b):
  if a > b:
      print(a, " is maximum")
  elif a == b:
      print(a, "is equal to", b)
  else:
      print(b, "is maximum")
printMax(3, 4)

4 is maximum